<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!-- mysql方法 -->
<!-- <hibernate-configuration>
	主要配置的就是sessionFactory 
	<session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/Cooper</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123</property>
        设置方言   Hibernate根据你选择的“方言”，针对每种数据库，作调整，如生成不同的SQL语句等
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        	输出相应的SQL语句的信息
        <property name="show_sql">true</property>
		配置实体类的映射文件
        <mapping resource="com/hwua/hibernate/bean/user.hbm.xml"/>  
	</session-factory>
</hibernate-configuration> -->
<!-- mysql -->

<!-- oracle方法 -->
<hibernate-configuration>
	<session-factory>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name="connection.username">iotek</property>
        <property name="connection.password">123</property>
        <!-- 连接池默认连接数为20 -->
        <property name="connection.pool_size">5</property>
        
        <!-- c3p0连接池，当导入jar包，配好了c3p0连接池之后，就会关闭默认的连接池———————————————————————————————————————————— -->
        <!-- 最大连接数 -->
        <property name="hibernate.c3p0.max_size">20</property>
        <!-- 最小连接数 -->
        <property name="hibernate.c3p0.min_size">5</property>
        <!-- 获得连接的超时时间，如果超过这个时间会抛出异常，单位：毫秒 -->
        <property name="hibernate.c3p0.timeout">5000</property>
        <!-- 创建PreparedStatement对象的最大数量 -->
        <property name="hibernate.c3p0.max_statements">100</property>
        <!-- 每隔指定时间检查连接池中的空闲连接，时间单位：秒 -->
        <property name="hibernate.c3p0.idle_test_period">150</property>
        <!-- 当连接池中的连接使用完，c3p0会再和数据库建立两个连接放置到连接池中 -->
        <property name="hibernate.c3p0.acquire_increment">2</property>
        <!-- 每次获取连接是否可用,false不做检查，true做检查 -->
        <property name="hibernate.c3p0.validate">false</property>
        <!-- c3p0连接池，当配好了c3p0连接池之后，就会关闭默认的连接池———————————————————————————————————————————— -->
        
        <property name="current_session_context_class">thread</property>
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="show_sql">true</property>
        <!-- 后续配置—————————————————————————————————————————————————————————————————————— -->
        <mapping resource="com/iotek/basic/projo/Student.hbm.xml"/>  
        <mapping resource="com/iotek/basic/projo/Book.hbm.xml"/>
        <!-- <mapping resource="com/iotek/association/one2one/proj/Passport_FK.hbm.xml"></mapping>
        <mapping resource="com/iotek/association/one2one/proj/Person_FK.hbm.xml"></mapping> -->
        <mapping resource="com/iotek/association/one2one/proj/Person_PK.hbm.xml"/>
        <mapping resource="com/iotek/association/one2one/proj/Passport_PK.hbm.xml"/>
        <mapping resource="com/iotek/association/one2many/proj/Order.hbm.xml"/>
        <mapping resource="com/iotek/association/one2many/proj/OrderLine.hbm.xml"/>
        <mapping resource="com/iotek/association/many2many/proj/Engineer.hbm.xml"/>
        <mapping resource="com/iotek/association/many2many/proj/Technology.hbm.xml"/>
        <!-- 后续配置—————————————————————————————————————————————————————————————————————— -->
	</session-factory>
</hibernate-configuration>
<!-- oracle -->

